/* src/pages/Location.css */
.location {
    padding: 20px;
    background: linear-gradient(45deg, purple, white, black, orange);
    color: rgb(236, 233, 233);
    animation: fadeIn 2s ease-in-out;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
}

.location h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5rem;
    animation: slideIn 1.5s ease-in-out;
}

.location {
    display: flex;
    flex-direction: column;
    gap: 20px;
    animation: fadeIn 2s ease-in-out;
}

.map img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.address {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.address h3 {
    margin-top: 0;
    font-size: 1.8rem;
}

.address p {
    margin: 5px 0;
    font-size: 1.2rem;
}

/* Keyframes for animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}
