/* src/pages/Login.css */
.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background: linear-gradient(45deg, purple, white, black, orange);
    border-radius: 60px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
    animation: fadeIn 2s ease-in-out;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    animation: slideIn 1.5s ease-in-out;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 3px;
}

button {
    width: 30%;
    padding: 10px;
    border: none;
    border-radius: 100px;
    background-color: purple;
    color: white;
    font-size: 1rem;
    cursor:pointer;
}

button:hover {
    background-color: darkorange;

}

/* Keyframes for animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}
